@import url("https://rsms.me/inter/inter.css");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

* {
  font-family: "Roboto Mono", monospace;
  scroll-behavior: smooth;
  font-feature-settings: "liga" 1, "clig" 1;
  font-variant-ligatures: common-ligatures discretionary-ligatures;
  box-sizing: border-box;
  letter-spacing: -5%;
  font-size: 18px;
  background-color: black;
  color: white;
  text-transform: uppercase;
}
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  max-width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
button,
a {
  margin: 10px 20px 10px 0px;
  border: none;
  background-color: transparent;
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  font-size: 32px;
  text-align: left;
  line-height: 1.1;
  color: #ccc;
}
button:hover,
a:hover {
  color: white;
}
button:disabled,
button[disabled] {
  background-color: #ffffff09;
  color: #ccc;
}
.sel-btns {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.start-window,
.main-window,
.close-window {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100vw;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 30px;
}
.main-window,
.close-window {
  display: none;
}
.title {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.1;
}
#nextStep {
  width: 100%;
  height: 25vh;
  margin-top: 30px;
  border: 1px #ffffff3f solid;
  text-align: center;
  background-color: #ffffff1a;
}
#timer {
  position: absolute;
  top: 20px;
  right: 30px;
}
#currentTask {
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 15px;
}
p {
  margin-top: 0;
  line-height: 1.3;
}
#info {
  font-size: 24px;
  font-weight: 500;
  margin-top: 0;
}
#reps {
  font-size: 40px;
  font-weight: 400;
  color: #ccc;
  margin-bottom: 20px;
}
#area {
  font-size: 24px;
  font-weight: 400;
  color: #ccc;
}
